<!DOCTYPE html>
<html>

<head>
  <title>UdeSA Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>UdeSA Movies</h1>
  <%- include('./partials/nav.ejs') %>
  <h2><%= movie.title %></h2>
  <ul class="content">
      <li>Rating: <%= movie.rating %></li>
      <li>Awards: <%= movie.awards %></li>
      <li>Genre: <a href="/genres/id/<%= movie.genre.id %>"><%= movie.genre.name %></a></li>
  </ul>
  <!-- <form action="/movies/delete/id/<%= movie.id%>" method="POST"> pasar dato por url-->
  <form action="/movies/delete" method="POST">
    <input type="hidden" name="id" value="<%= movie.id%>">
    <button type="submit">Borrar</button>
  </form>
</body>

</html>